<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" id="sectionNav"
    color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a href="#" class="navbar-brand">
                <span>
                    <img style="width: 5%;" src="/images/bck/p-diamond.png" alt="">
                    Flatlanders Store
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <!--toggle navigation-->
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a ui-sref = "app.products" class="nav-link">lista de productos</a></li>
            <li class="nav-item"><a  class="nav-link">Mis compras</a></li>
            <li class="nav-item"><a  class="nav-link">Favortios</a></li>
        </ul>
    </div>
</nav>